{% if post.description %}
    {% assign excerpt = post.description %}
{% else %}
    {% assign excerpt = post.excerpt | strip_html %}
{% endif %}
<div class="article_link_wrapper">
{% if post.image %}
    <a class="article_link_image" href="{{ post.url | prepend: site.baseurl }}" style="background-image: url({{site.baseurl}}/assets/images/posts/{{post.image}})"> </a>
{% endif %}
    <div class="article_link_content">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ excerpt }}</p>
            <div class="article_link_content_meta">
            <div>
                <time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%d/%m/%Y" %}{{ post.date | date: date_format }}</time>
            </div>
            <div>
                <a href="{{ post.url }}">Ler <i class="ion ion-ios-arrow-forward"></i></a>
            </div>
        </div>
    </div>
</div>
