{% if page.title %}
    {% capture title %} {{ page.title }} - {{ site.title }} {% endcapture %}
{% else %}
    {% assign title = site.title %}
{% endif %}
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{ title }}</title>
<meta name="description" content="{{ page.description | default: site.description }}">
<meta name="author" content="Padmoney" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="{{ title  }}" />
<meta property="og:image" content="/assets/img/og-image.png" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:locale" content="{{ page.lang | default: site.lang | default: "en" }}" />
<meta property="og:site_name" content="{{ title }}" />
<meta property="og:description" content="{{ page.description | default: site.description }}" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<link rel="icon" href="/assets/images/favicon.png" type="image/x-icon" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/assets/css/main.css?{{site.time | date: '%s'}}">

<!-- Ionicons -->
<link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">

<script type="application/ld+json">
    {
        "@type": "WebPage",
        "headline": "{{ title }}",
        "url": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
        "description": "{{ page.description | default: site.description }}",
        "@context": "http://schema.org"
    }
</script>
</head>
