<!-- begin c-hero -->
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-t-12 last-item">
        <div class="hero__content">
          <h1 class="hero__title">Tecnologia para você e sua empresa</h1>
          <p class="hero__subtitle">Conteúdo sobre engenharia de software, segurança da informação, infraestrutura de TI, blockchain, e muito mais...</p>
          <div class="hero__social">
            <span class="hero__social-title">Siga-nos |</span>
            {% include contact-link.html %}
          </div>
        </div>
      </div>
      <div class="col col-6 col-t-12">
        <div class="hero__image">
          <img src="{{site.baseurl}}/images/hero-1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->
