<nav class="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a class="previous_link" href="/blog/"><i class="ion ion-ios-arrow-back"></i></a>
        {% else %}
        <a class="previous_link" href="/blog/{{ paginator.previous_page }}/"><i class="ion ion-ios-arrow-back"></i></a>
        {% endif %}
    {% endif %}

    {% if paginator.page == 1 %}
        <span class="active_link">1</span>
    {% else %}
        <a href="/">1</a>
    {% endif %}

    {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
        <span class="active_link">{{ count }}</span>
        {% else %}
        <a class="count_number" href="/blog/{{ count }}/">{{ count }}</a>
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a class="next_link" href="{{ site.baseurl }}/blog/{{ paginator.next_page }}/"><i class="ion ion-ios-arrow-forward"></i></a>
    {% endif %}
</nav>
